@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
  
}

.letter-one {
  background-color: purple;
}
.whyHLetter {
  font-size: 30px;
  font-weight: 700px;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
  background-color: pink;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: khaki;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: #50C878;
}

/* DID word */

.didDLetter {  font-size: 72px;
  font-weight: bold;
  color: green;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Mulish', sans-serif;
}

.super-letter {
  background-color: plum;
}

.didILetter { font-size: 30px;
  font-weight: 700px;
  color: purple;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Poppins', sans-serif;
  background-color: yellow;
}

.didDTwoLetter { font-size: 60px;
  font-weight: 400px;
  color: orchid;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', sans-serif;
  background-color: #50C878;
}

/* THE word */

.theTLetter {  font-size: 60px;
  font-weight: 700px;
  color: gray;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  background-color: orange;
}

.theHLetter {  font-size: 60px;
  font-weight: bold;
  color: palevioletred;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: aqua;
}

.theELetter {  font-size: 60px;
  font-weight: 400px;
  color: yellowgreen;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Montserrat', sans-serif;
  background-color: greenyellow;
}

/* FRONT-END word */

.frontendFLetter {  font-size: 60px;
  font-weight: normal;
  color: yellowgreen;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: purple;
}

.frontendRLetter {  font-size: 60px;
  font-weight: 400px;
  color: green;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
background-color: orangered; }

.frontendOLetter {  font-size: 60px;
  font-weight: 400px;
  color: purple;
  text-decoration: bold;
  text-transform: lowercase;
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: bisque;
}

.frontendNLetter {  font-size: 60px;
  font-weight: 700px;
  color: brown;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: #50C878;
}

.frontendTLetter {  font-size: 60px;
  font-weight: 700px;
  color: orangered;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: blue;
} 

.frontendELetter {  font-size: 60px;
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Playfair Displays', sans-serif;
  background-color: aquamarine;
}

.frontendNTwoLetter {  font-size: 60px;
  font-weight: bold;
  color:  palevioletred;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: blueviolet;
}

.frontendDLetter { font-size: 60px;
  font-weight: 700px;
  color: pink;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto Mono', sans-serif;
  background-color: purple;
}

/* DEVELOPER word */

.developerDLetter {  font-size: 60px;
  font-weight: 400px;
  color: palevioletred;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: #50C878;
}
.developerELetter {  font-size: 60px;
  font-weight: bold ;
  color: green;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: lightsalmon;
}
.developerVLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
  background-color: greenyellow;
}
.developerETwoLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Cormorant Garamond', sans-serif;
  background-color: linen;
}
.developerLLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: purple;
}
.developerOLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: purple;
}
.developerPLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Orbitrons', sans-serif;
  background-color: gold;
}
.developerEThreeLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: yellow;
}
.developerRLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: pink;
}

/* TAKE word */

.takeTLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: green;
}
.takeALetter {  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform:lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: lawngreen;
}
.takeKLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: purple;
}
.takeELetter {  font-size: 40px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: yellowgreen;
}

/* UP word */

.upULetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: peru;
}
.upPLetter {  font-size: 70px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  background-color: purple;
}

/* GARDENING word */

.gardeningGLetter {  font-size: 60px;
  font-weight: 700px;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Orbitron', sans-serif;
}
.gardeningALetter {  font-size: 60px;
  font-weight: 400px;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: #50C878;
}
.gardeningRLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  background-color: aquamarine;
}
.gardeningDLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: #50C878;
}
.gardeningELetter {  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Pacifico', sans-serif;
}
.gardeningNLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningILetter {  font-size: 60px;
  font-weight: 700px;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningNTwoLetter {  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.gardeningGTwoLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: purple;
}

/* BECAUSE word */

.becauseBLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseELetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseCLetter {  font-size: 30px;
  font-weight: 700px;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseALetter {  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseULetter {  font-size: 60px;
  font-weight: underline;
  color: orange;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseSLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.becauseETwoLetter {  font-size: 60px;
  font-weight: normal;
  color: rgb(255, 215, 0);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* THEY word */

.theyTLetter {  font-size: 20px;
  font-weight: normal;
  color: rgb(139, 0, 0);
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Pacifico', sans-serif;
}
.theyHLetter {  font-size: 30px;
  font-weight: 400px;
  color: purple;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.theyELetter {  font-size: 10px;
  font-weight: normal;
  color: #4169E1;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Vollkorn', sans-serif;
}
.theyYLetter {  font-size: 60px;
  font-weight: normal;
  color: greenyellow;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* WANTED word */

.wantedWLetter {  font-size: 30px;
  font-weight: normal;
  color: #4169E1;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedALetter {  font-size: 60px;
  font-weight: normal;
  color: #D3D3D3;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedNLetter {  font-size: 60px;
  font-weight: normal;
  color: #E6E6FA;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedTLetter {  font-size: 30px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedELetter {  font-size: 60px;
  font-weight: normal;
  color: pink ;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.wantedDLetter {  font-size: 30px;
  font-weight: normal;
  color: blue;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Vollkorn', sans-serif;
}

/* TO word */

.toTLetter {  font-size: 90px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.toOLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* IMPROVE word */

.improveILetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.improveMLetter {  font-size: 60px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.improvePLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: greenyellow;
}
.improveRLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.improveOLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.improveVLetter {  font-size: 60px;
  font-weight: 700px;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.improveELetter {  font-size: 20px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* THEIR word */

.theirTLetter {  font-size: 60px;
  font-weight: 700px;
  color: purple;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.theirHLetter {  font-size: 60px;
  font-weight: normal;
  color: yellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.theirELetter {  font-size: 30px;
  font-weight: normal;
  color: #50C878;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
.theirILetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Poppins', sans-serif;
  background-color: yellowgreen;
}
.theirRLetter {  font-size: 60px;
  font-weight: normal;
  color: red ;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* ROOT word */

.rootRLetter {  font-size: 20px;
  font-weight: normal;
  color: coral;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Poppins', sans-serif;
  background-color: #50C878;
}
.rootOLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: green;
}
.rootOTwoLetter {  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Vollkorns', sans-serif;
}
.rootTLetter {  font-size: 40px;
  font-weight: bold;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: purple;
}

/* SKILLS word */

.skillsSLetter {  font-size: 20px;
  font-weight: bold;
  color: blue;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: palevioletred;
}
.skillsKLetter {  font-size: 30px;
  font-weight: normal;
  color: lime;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Vollkorn', sans-serif;
}
.skillsILetter {  font-size: 60px;
  font-weight: normal;
  color: yellow;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
  background-color: green;
}
.skillsLLetter {  font-size: 60px;
  font-weight: bold;
  color: white;
  text-decoration: blueviolet;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.skillsLTwoLetter {  font-size: 60px;
  font-weight: normal;
  color: pink ;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Merienda', sans-serif;
  background-color: #50C878;
}
.skillsSTwoLetter {  font-size: 70px;
  font-weight: underline;
  color: greenyellow;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  background-color: purple;
}

/* SYMBOLS */

.hyphen {  font-size: 60px;
  font-weight: line-through;
  color: violet;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Vollkorn', sans-serif;
}
.exclamation-mark {  font-size: 40px;
  font-weight: normal;
  color: rgb(139, 69, 19)
  ;
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Raleway Dots', sans-serif;
}
.question-mark {  font-size: 60px;
  font-weight: normal;
  color: rgb(255, 218, 185);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
